<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Community</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Content/uistuff/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/uistuff/dist/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Sidebar -->
            <div class="sidebar">



                <!-- Sidebar user panel-->

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/unlock.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@TempData.Peek("UserName")</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            @Html.ActionLink("Home", "EmployeeDashboard", "Employee", new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Accept Service Orders", "VieworDeleteServices", "Employee", new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Accepted Orders", "ViewAcceptedServices", "Employee", new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Order Log", "ViewAllServices", "Employee", new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Payment History", "PaymentHistory", "Employee", new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Employee", new { @class = "nav-link" })
                        </li>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
            <!-- Main content -->
            <div style="margin-left:15px;margin-right:15px;margin-top:15px;">
                @RenderBody()
                @RenderSection("scripts", required: false)
            </div>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Community Gate
            </div>
            <!-- Default to the left -->
            <strong>Logged in as an Employee</strong>
        </footer>
    </div>


    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Content/uistuff/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/uistuff/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/uistuff/dist/js/adminlte.min.js"></script>
</body>

</html>