@model IEnumerable<FinalUI1.Models.Payment>

@{
    ViewBag.Title = "PaymentHistory";
    Layout = "~/Views/Shared/_ResidentLayout.cshtml";
}
<div class="card">

    <!-- /.card-header -->

    <div class="card-header border-transparent">
        <h3 class="card-title">Payment History</h3>

        <div class="card-tools">

            <input id="search" type="text" placeholder="Search payment for">

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->





    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentFor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AmountPaidTo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Resident.ResidentName)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentFor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AmountPaidTo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Resident.ResidentName)
                                </td>

                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#search").on("keyup", function () {
        var enteredText = $(this).val();
        $("table tr").each(function (results) {
            if (results !== 0) {
                var id = $(this).find("td:nth-child(1)").text();
                if (id.indexOf(enteredText) !== 0 && id.toLowerCase().indexOf(enteredText.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });

    });</script>
